{% extends 'base.html' %}

{% block title %}Secant{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Secant</h4>
    </div>

    <form method="GET" id="function_incrementalsearch_form">
        {% csrf_token %}
        <div class="input-group"></div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

</div>
{% endblock container %}