{% extends 'base.html' %}

{% block title %}False Rule{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>False Rule</h4>
    </div>

    <div class="d-flex justify-content-center mb-3 mt-2">
        <div class="card mt-2 mb-2">
            <div class="row">
                <div class="col-6">
                    <h6 class="text-center">Help for this method:</h6>
                    <ol>
                        <li>f must be a continuous function on [a, b], with the condition f(a)∗f(b) &#60; </li>
                        <li>if the condition f(a)∗f(b) &#60; is true then there is a root in the interval [a, b]</li>
                        <li>a must be less than b</li>
                        <li>tolerance must be positive</li>
                    </ol>
                </div>
                <div class="col-6 row">
                    <h6>Valid inputs:</h6>
                    <div class="col-6">
                        <ol>
                            <li>Pow: ^</li>
                            <li>Trigonometric:</li>
                            <ul>
                                <li>cos(x)</li>
                                <li>acos(x)</li>
                                <li>acosh(x)</li>
                                <li>cosh(x)</li>
                                <li>sin(x)</li>
                                <li>asin(x)</li>
                                <li>asinh(x)</li>
                                <li>sinh(x)</li>
                                <li>etc...</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-6">
                        <ol start="3">
                            <li>Logarithm:</li>
                            <ul>
                                <li>log(x)</li>
                                <li>log10(x)</li>
                            </ul>
                            <li>Pi: pi</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunction">Function:</span>
            <input name="f" type="text" id="function" class="form-control" placeholder="cos(x)"
                aria-describedby="spanfunction">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="a">a:</span>
            <input name="a" id="input_a" required="required" type="text" class="form-control" placeholder="-3"
                aria-describedby="a">

            <span class="input-group-text" id="b">b:</span>
            <input name="b" id="input_b" required="required" type="text" class="form-control" placeholder="5"
                aria-describedby="b">

            <span class="input-group-text" id="tol">tol:</span>
            <input name="tol" id="input_tol" required="required" type="text" class="form-control"
                placeholder="0.0000007" aria-describedby="tol">

            <span class="input-group-text" id="n">n:</span>
            <input name="n" id="input_n" required="required" type="text" class="form-control" placeholder="100"
                aria-describedby="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" id="sendMessageButton" onclick="plot()" type="button">Plot</button>
        </div>
    </form>


    <h6 class="m-4">Chart options: </h6>
    <div class="input-group mb-3">

        <span class="input-group-text">Min x:</span>
        <input class="form-control" type="number" id="xMin" value="-50" step="0.5" oninput="plot();" />

        <span class="input-group-text">Max x:</span>
        <input class="form-control" type="number" id="xMax" value="50" step="0.5" oninput="plot();" />

        <span class="input-group-text">Min y:</span>
        <input class="form-control" type="number" id="yMin" value="-50" step="0.5" oninput="plot();" />

        <span class="input-group-text">Max y:</span>
        <input class="form-control" type="number" id="yMax" value="50" step="0.5" oninput="plot();" />
    </div>
    <input type="color" id="color" onchange="plot();" />
    <div class="d-flex justify-content-center" id="myFunction"></div>

    {% if result %}
    {{ result | safe }}
    {% endif %}
</div>
{% endblock container %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("function").value = urlParams.get('f')
    document.getElementById("input_a").value = urlParams.get('a')
    document.getElementById("input_b").value = urlParams.get('b')
    document.getElementById("input_tol").value = urlParams.get('tol')
    document.getElementById("input_n").value = urlParams.get('n')
</script>
{% endblock js %}