{% extends 'base.html' %}

{% block title %}False Rule{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>False Rule</h4>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>f must be a continuous function on [a, b], with the condition f(a)∗f(b) &#60; </li>
                <li>if the condition f(a)∗f(b) &#60; is true then there is a root in the interval [a, b]</li>
                <li>a must be less than b</li>
                <li>tolerance must be positive</li>
                <li>Never put a divided by zero operation</li>
            </ol>
        </div>

    </div>



    <form method="GET">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="function">Function:</span>
            <input name="f" type="text" class="form-control" placeholder="cos(x)" aria-describedby="function">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="a">a:</span>
            <input name="a" type="text" class="form-control" placeholder="-3" aria-describedby="a">

            <span class="input-group-text" id="b">b:</span>
            <input name="b" type="text" class="form-control" placeholder="5" aria-describedby="b">

            <span class="input-group-text" id="tol">tol:</span>
            <input name="tol" type="text" class="form-control" placeholder="0.0000007" aria-describedby="tol">

            <span class="input-group-text" id="n">n:</span>
            <input name="n" type="text" class="form-control" placeholder="100" aria-describedby="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
    {{ result | safe }}
    {% endif %}


</div>
{% endblock container %}