{% extends 'base.html' %}

{% block title %}Fixed Point{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Fixed Point</h4>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>g must be a continuous function on the interval [a, b]</li>
                <li>You must verified that |g′(x)| ≤ k &#60; 1</li>
                <li>All x in the interval [a,b], g(x) must belong to the same interval [a, b]</li>
                <li>a must be minor than b</li>
                <li>tolerance must be positive</li>
            </ol>
        </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunctionf">Function f:</span>
            <input name="f1" type="text" id="functionf" required="required" class="form-control"
                placeholder="x^3 + x^2 - 1" aria-describedby="functionf">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunctiong">Function g:</span>
            <input name="g" type="text" id="functiong" required="required" class="form-control"
                placeholder="1/sqrt(1+x)" aria-describedby="functiong">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="spanx0">x0:</span>
            <input type="text" id="x0" required="required" class="form-control" placeholder="2" name="x0">

            <span class="input-group-text" id="spantol">tol:</span>
            <input type="text" id="tol" required="required" class="form-control" placeholder="0.00001" name="tol">

            <span class="input-group-text" id="spanitermax">itermax:</span>
            <input type="text" id="itermax" required="required" class="form-control" placeholder="10" name="itermax">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {{result_table | safe}}

</div>
{% endblock container %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("functionf").value = urlParams.get('f1')
    document.getElementById("functiong").value = urlParams.get('g')
    document.getElementById("x0").value = urlParams.get('x0')
    document.getElementById("tol").value = urlParams.get('tol')
    document.getElementById("itermax").value = urlParams.get('itermax')
</script>
{% endblock js %}