{% extends 'base.html' %}

{% block title %}Fixed Point{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Fixed Point</h4>
    </div>
    <div class="d-flex justify-content-center mb-3 mt-2">
        <div class="card mt-2 mb-2">
            <div class="row">
                <div class="col-6">
                    <h6 class="text-center">Help for this method:</h6>
                    <ol>
                        <li>g must be a continuous function on the interval [a, b]</li>
                        <li>You must verified that |g′(x)| ≤ k &#60; 1</li>
                        <li>All x in the interval [a,b], g(x) must belong to the same interval [a, b]</li>
                        <li>a must be minor than b</li>
                        <li>tolerance must be positive</li>
                    </ol>
                </div>
                <div class="col-6 row">
                    <h6>Valid inputs:</h6>
                    <div class="col-6">
                        <ol>
                            <li>Pow: ^</li>
                            <li>Trigonometric:</li>
                            <ul>
                                <li>cos(x)</li>
                                <li>acos(x)</li>
                                <li>acosh(x)</li>
                                <li>cosh(x)</li>
                                <li>sin(x)</li>
                                <li>asin(x)</li>
                                <li>asinh(x)</li>
                                <li>sinh(x)</li>
                                <li>etc...</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-6">
                        <ol start="3">
                            <li>Logarithm:</li>
                            <ul>
                                <li>log(x)</li>
                                <li>log10(x)</li>
                            </ul>
                            <li>Pi: pi</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunctionf">Function f:</span>
            <input name="f1" type="text" id="function" required="required" class="form-control"
                placeholder="x^3 + x^2 - 1" aria-describedby="functionf">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunctiong">Function g:</span>
            <input name="g" type="text" id="function2" required="required" class="form-control"
                placeholder="1/sqrt(1+x)" aria-describedby="functiong">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="spanx0">x0:</span>
            <input type="text" id="x0" required="required" class="form-control" placeholder="2" name="x0">

            <span class="input-group-text" id="spantol">tol:</span>
            <input type="text" id="tol" required="required" class="form-control" placeholder="0.00001" name="tol">

            <span class="input-group-text" id="spanitermax">itermax:</span>
            <input type="text" id="itermax" required="required" class="form-control" placeholder="10" name="itermax">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <h4 class="m-4">Chart options: </h4>
    <div class="row">

        <div class="col-6">
            <h6 class="text-center">Function f</h6>
            <div class="input-group mb-3">
                <span class="input-group-text">Min x:</span>
                <input class="form-control" type="number" id="xMin" value="-50" step="0.5" oninput="plot();" />

                <span class="input-group-text">Max x:</span>
                <input class="form-control" type="number" id="xMax" value="50" step="0.5" oninput="plot();" />

                <span class="input-group-text">Min y:</span>
                <input class="form-control" type="number" id="yMin" value="-50" step="0.5" oninput="plot();" />

                <span class="input-group-text">Max y:</span>
                <input class="form-control" type="number" id="yMax" value="50" step="0.5" oninput="plot();" />

                <input type="color" id="color" onchange="plot();" />
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" onclick="plot()" type="button">Plot function
                    f</button>
            </div>
            <div class="d-flex justify-content-center" id="myFunction"></div>
        </div>

        <div class="col-6">
            <h6 class="text-center">Function g</h6>
            <div class="input-group mb-3">
                <span class="input-group-text">Min x:</span>
                <input class="form-control" type="number" id="xMin2" value="-50" step="0.5" oninput="plotg();" />

                <span class="input-group-text">Max x:</span>
                <input class="form-control" type="number" id="xMax2" value="50" step="0.5" oninput="plotg();" />

                <span class="input-group-text">Min y:</span>
                <input class="form-control" type="number" id="yMin2" value="-50" step="0.5" oninput="plotg();" />

                <span class="input-group-text">Max y:</span>
                <input class="form-control" type="number" id="yMax2" value="50" step="0.5" oninput="plotg();" />

                <input type="color" id="color2" onchange="plotg();" />
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" onclick="plotg()" type="button">Plot function
                    g</button>
            </div>
            <div class="d-flex justify-content-center" id="myFunction2"></div>
        </div>
    </div>


    {{result_table | safe}}

</div>
{% endblock container %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("function").value = urlParams.get('f1')
    document.getElementById("function2").value = urlParams.get('g')
    document.getElementById("x0").value = urlParams.get('x0')
    document.getElementById("tol").value = urlParams.get('tol')
    document.getElementById("itermax").value = urlParams.get('itermax')
</script>
{% endblock js %}