{% extends 'base.html' %}

{% block title %}Incremental Search{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Incremental Search</h4>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <div class="card mt-2">
            <p>Given f(x) = 0, we apply the following steps:</p>
            <ol>
                <li>The continuity of f must be guaranteed with theoretical arguments.</li>
                <li>We choose a starting value x0 and a Δx that expresses the size of the interval that we wish to find.</li>
                <li>We generate a sequence x0, x1, . . . ,xn such that xn = xn−1 + Δx.</li>
                <li>Every time a value of xn is generated, we find the value of f(xn).</li>
                <li>We look at the signs of f(xn) and f(xn−1).</li>
            </ol>
        </div>
    </div>

    <form method="GET" id="function_incrementalsearch_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="function" class="form-label">Function:</label>
            <input class="form-control" type="text" id="function" name="f">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="x0" id="function_incrementalsearch_x0" name="x0">
            <input type="text" class="form-control" placeholder="delta" id="function_incrementalsearch_delta"
                name="delta">
            <input type="text" class="form-control" placeholder="itermax" id="function_incrementalsearch_itermax"
                name="itermax">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>


    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock container %}