{% extends 'base.html' %}

{% block title %}Multiple Roots{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Multiple Roots</h4>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card mt-2">
            <h6 class="text-center">Definition: </h6>
            <p>We say that xv is a root of multiplicity m of f if and only if f (x) can be written
                as <br>
                <P class="text-center">f(x) = (x−xv)^m*q(x)</P><br>
                where q(xv) ≠ = 0. If m = 1, it is called a simple root.
            </p>
            <h6 class="text-center">theorem: </h6>
            <p>Let f ∈ C^m[a, b]. The function f has a root of multiplicity m in xv if and only if
                0 = f(xv) = f′(xv) = f′′(xv) = · · · = f^(m−1)(xv) but f^m(xv ) ≠ = 0.</p>
        </div>
    </div>

    <form method="GET" id="function_incrementalsearch_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="function" class="form-label">Function:</label>
            <input class="form-control" type="text" id="f" name="f">
        </div>

        <div class="mb-3">
            <label for="function" class="form-label">Function df:</label>
            <input class="form-control" type="text" id="df" name="df">
        </div>

        <div class="mb-3">
            <label for="function" class="form-label">Function d2f:</label>
            <input class="form-control" type="text" id="d2f" name="d2f">
        </div>


        <div class="input-group">
            <input type="text" class="form-control" placeholder="x0" id="function_falserule_p_0" name="x0">
            <input type="text" class="form-control" placeholder="tol" id="function_falserule_tol" name="tol">
            <input type="text" class="form-control" placeholder="n" id="function_falserule_n" name="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
        <div class="card mt-2">
            <div class="card-body">
                <p>{{ result }}</p>
            </div>
        </div>

        {{ result_table | safe }}
    {% endif %}

</div>
{% endblock container %}