{% extends 'base.html' %}

{% block title %}Newton{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Newton</h4>
    </div>

    <div class="d-flex justify-content-center mb-3 mt-3">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>f must be differentiable</li>
                <li>x0 must be close to a root</li>
                <li>Check derivates</li>
                <li>tolerance must be positive</li>
            </ol>
        </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="function">Function:</span>
            <input name="f" type="text" class="form-control" placeholder="x-cos(x)" aria-describedby="function">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="p_0">p_0:</span>
            <input name="p_0" type="text" class="form-control" placeholder="1" aria-describedby="p_0">

            <span class="input-group-text" id="tol">tol:</span>
            <input name="tol" type="text" class="form-control" placeholder="0.0000007" aria-describedby="tol">

            <span class="input-group-text" id="n">n:</span>
            <input name="n" type="text" class="form-control" placeholder="20" aria-describedby="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>
    {% if df %}
    <div class="card mt-2">
        <div class="card-body text-center">
            <p>{{ f }}</p>
            <p>{{ df }}</p>
        </div>
    </div>
    {% endif %}

    {% if fxi %}
    <div>
        <canvas id="newton"></canvas>
    </div>
    {% endif %}


    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>

    {{ result_table | safe }}
    {% endif %}

</div>
{% endblock container %}

{% block chartJs %}
<script>
    const ctx = document.getElementById('newton');

    var xi = {{ xi }};
    var fxi = {{ fxi }};

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: xi,
            datasets: [{
                label: 'f(x)',
                data: fxi,
                borderWidth: 1,
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Newton'
                },
            },
            interaction: {
                mode: 'point'
            }
        }
    });
</script>
{% endblock chartJs %}