{% extends 'base.html' %}

{% block title %}Newton{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Newton</h4>
    </div>

    <form method="GET">
        {% csrf_token %}

        <div class="input-group mb-3">
            <span class="input-group-text" id="function">Function:</span>
            <input name="f" type="text" class="form-control" placeholder="pow(x,5)" aria-describedby="function">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="dffunction">Derivate Function:</span>
            <input name="df" type="text" class="form-control" placeholder="5*pow(x,4)" aria-describedby="dffunction">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="a">p_0:</span>
            <input name="p_0" type="text" class="form-control" placeholder="p_0" aria-describedby="p_0">

            <span class="input-group-text" id="tol">tol:</span>
            <input name="tol" type="text" class="form-control" placeholder="tol" aria-describedby="tol">

            <span class="input-group-text" id="n">n:</span>
            <input name="n" type="text" class="form-control" placeholder="n" aria-describedby="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>

    {{ result_table | safe }}
    {% endif %}

</div>
{% endblock container %}