{% extends 'base.html' %}

{% block title %}Newton{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Newton</h4>
    </div>

    <div class="d-flex justify-content-center mb-3 mt-3">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>f must be differentiable</li>
                <li>x0 must be close to a root</li>
                <li>Check derivates</li>
                <li>tolerance must be positive</li>
            </ol>
        </div>
        <div class="card">
            <div class="row">
                <p>Valid inputs:</p>
                <div>
                    <ol>
                        <li>Pow: ^</li>
                        <li>Trigonometric:</li>
                        <ul>
                            <li>cos(x)</li>
                            <li>acos(x)</li>
                            <li>acosh(x)</li>
                            <li>cosh(x)</li>
                            <li>sin(x)</li>
                            <li>asin(x)</li>
                            <li>asinh(x)</li>
                            <li>sinh(x)</li>
                            <li>etc...</li>
                        </ul>
                    </ol>
                </div>
                <div>
                    <ol>
                        <li>Logarithm:</li>
                        <ul>
                            <li>log(x)</li>
                            <li>log10(x)</li>
                        </ul>
                        <li>Pi: pi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunction">Function:</span>
            <input name="f" type="text" id="function" required="required" class="form-control" placeholder="x-cos(x)"
                aria-describedby="spanfunction">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="spanp_0">p_0:</span>
            <input name="p_0" type="text" id="p_0" required="required" class="form-control" placeholder="1"
                aria-describedby="p_0">

            <span class="input-group-text" id="spantol">tol:</span>
            <input name="tol" type="text" id="tol" required="required" class="form-control" placeholder="0.0000007"
                aria-describedby="tol">

            <span class="input-group-text" id="spann">n:</span>
            <input name="n" type="text" id="n" required="required" class="form-control" placeholder="20"
                aria-describedby="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" id="sendMessageButton" onclick="plot()" type="button">Plot</button>
        </div>
    </form>
    {% if df %}
    <div class="card mt-2">
        <div class="card-body text-center">
            <p>First derivative: {{ f }}</p>
            <p>Second derivative: {{ df }}</p>
        </div>
    </div>
    {% endif %}


    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>

    <h6 class="m-4">Chart options: </h6>
    <div class="input-group mb-3">

        <span class="input-group-text">Min x:</span>
        <input class="form-control" type="number" id="xMin" value="-50" step="0.5" oninput="plot();" />

        <span class="input-group-text">Max x:</span>
        <input class="form-control" type="number" id="xMax" value="50" step="0.5" oninput="plot();" />

        <span class="input-group-text">Min y:</span>
        <input class="form-control" type="number" id="yMin" value="-50" step="0.5" oninput="plot();" />

        <span class="input-group-text">Max y:</span>
        <input class="form-control" type="number" id="yMax" value="50" step="0.5" oninput="plot();" />
    </div>
    <input type="color" id="color" onchange="plot();" />
    <div class="d-flex justify-content-center" id="myFunction"></div>

    {{ result_table | safe }}
    {% endif %}

</div>
{% endblock container %}



{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("function").value = urlParams.get('f')
    document.getElementById("p_0").value = urlParams.get('p_0')
    document.getElementById("tol").value = urlParams.get('tol')
    document.getElementById("n").value = urlParams.get('n')
</script>
{% endblock js %}