{% extends 'base.html' %}

{% block title %}Secant{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Secant</h4>
    </div>

    <div class="d-flex justify-content-center mb-3 mt-2">
        <div class="card mt-2 mb-2">
            <div class="row">
                <div class="col-6">
                    <h6 class="text-center">Help for this method:</h6>
                    <ol>
                        <li>p0 and p1 must be close to a root</li>
                        <li>tolerance must be positive</li>
                    </ol>
                </div>
                <div class="col-6 row">
                    <h6>Valid inputs:</h6>
                    <div class="col-6">
                        <ol>
                            <li>Pow: ^</li>
                            <li>Trigonometric:</li>
                            <ul>
                                <li>cos(x)</li>
                                <li>acos(x)</li>
                                <li>acosh(x)</li>
                                <li>cosh(x)</li>
                                <li>sin(x)</li>
                                <li>asin(x)</li>
                                <li>asinh(x)</li>
                                <li>sinh(x)</li>
                                <li>etc...</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-6">
                        <ol start="3">
                            <li>Logarithm:</li>
                            <ul>
                                <li>log(x)</li>
                                <li>log10(x)</li>
                            </ul>
                            <li>Pi: pi</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunction">Function:</span>
            <input name="f" type="text" id="function" required="required" class="form-control"
                placeholder="12*x^4-2.72*x^3+0.0042*x" aria-describedby="spanfunction">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="span_p_0">p_0:</span>
            <input type="text" id="p_0" required="required" class="form-control" placeholder="12" name="p_0">

            <span class="input-group-text" id="span_p_1">p_1:</span>
            <input type="text" id="p_1" required="required" class="form-control" placeholder="18" name="p_1">

            <span class="input-group-text" id="span_tol">tol:</span>
            <input type="text" id="tol" required="required" class="form-control" placeholder="0.00005" name="tol">

            <span class="input-group-text" id="span_n">n:</span>
            <input type="text" id="n" required="required" class="form-control" placeholder="100" name="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" onclick="plot('#function','#myFunction')" type="button">Plot</button>
        </div>
    </form>

    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>

    <h6 class="m-4">Chart options: </h6>
    <div class="input-group mb-3">

        <span class="input-group-text">Min x:</span>
        <input class="form-control" type="number" id="xMin" value="-50" step="0.5" />

        <span class="input-group-text">Max x:</span>
        <input class="form-control" type="number" id="xMax" value="50" step="0.5" />

        <span class="input-group-text">Min y:</span>
        <input class="form-control" type="number" id="yMin" value="-50" step="0.5" />

        <span class="input-group-text">Max y:</span>
        <input class="form-control" type="number" id="yMax" value="50" step="0.5" />
    </div>
    <div class="d-flex justify-content-center" id="myFunction"></div>

    {{ result_table | safe }}
    {% endif %}
</div>
{% endblock container %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("function").value = urlParams.get('f')
    document.getElementById("p_0").value = urlParams.get('p_0')
    document.getElementById("p_1").value = urlParams.get('p_1')
    document.getElementById("tol").value = urlParams.get('tol')
    document.getElementById("n").value = urlParams.get('n')
</script>
{% endblock js %}