{% extends 'base.html' %}

{% block title %}Secant{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Secant</h4>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>p0 and p1 must be close to a root</li>
                <li>tolerance must be positive</li>
                <li>Never put a divided by zero operation</li>
            </ol>
        </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="function">Function:</span>
            <input name="f" type="text" class="form-control" placeholder="12*x**4-2.72*x**3+0.0042*x"
                aria-describedby="function">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="p_0">p_0:</span>
            <input type="text" class="form-control" placeholder="12" name="p_0">

            <span class="input-group-text" id="p_1">p_1:</span>
            <input type="text" class="form-control" placeholder="18" name="p_1">

            <span class="input-group-text" id="tol">tol:</span>
            <input type="text" class="form-control" placeholder="0.00005" name="tol">

            <span class="input-group-text" id="n">n:</span>
            <input type="text" class="form-control" placeholder="100" name="n">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>

    {{ result_table | safe }}
    {% endif %}
</div>
{% endblock container %}