<h6>Valid inputs:</h6>
<div class="col-6">
    <ol>
        <li>Pow: ^</li>
        <li>Trigonometric:</li>
        <ul>
            <li>cos(x)</li>
            <li>acos(x)</li>
            <li>acosh(x)</li>
            <li>cosh(x)</li>
            <li>sin(x)</li>
            <li>asin(x)</li>
            <li>asinh(x)</li>
            <li>sinh(x)</li>
            <li>etc...</li>
        </ul>
    </ol>
</div>
<div class="col-6">
    <ol start="3">
        <li>Logarithm:</li>
        <ul>
            <li>log(x)</li>
            <li>log10(x)</li>
        </ul>
        <li>Pi: pi</li>
        <li>e^x: exp(x)</li>
    </ol>
</div>