{% extends 'base.html' %}

{% block title %}Cubic Spline{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Cubic Spline</h4>
    </div>

    <form method="GET">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="xi ex: -1, 0, 3, 4" id="cubic_spline_a" name="xi">
            <input type="text" class="form-control" placeholder="fi ex: 15.5, 3, 8, 1" id="cubic_spline_b" name="fi">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if polynomial_result %}
    <ul>
        {% for i in polynomial_result %}
            <li>
                {{i}}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if section_result %}
        <ul>
            {% for j in section_result %}
            <li>
                {{j}}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

</div>
{% endblock container %}