{% extends 'base.html' %}

{% block title %}Cubic Spline{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Cubic Spline</h4>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card mt-2">
            <p>Given a function f on [a, b] and nodes a = x0 &#60; x1&#60; · · · &#60; xn = b, a spline (tracer)
                cubic interpolant p for f is a function that satisfies the following conditions:
            </p>
            <ol>
                <li>p(x) is a cubic polynomial, defined pj(x), over the interval [xj−1, xj] for each j = 1, . . . , n</li>
                <li>pj(xj−1) = f(xj−1) and pj(xj ) = f(xj ) for each j = 1, . . . , n</li>
                <li>pj+1(xj) = pj(xj) for each j = 1, . . . ,n−1</li>
                <li>p′j+1(xj) = p′j(xj) for each j = 1, . . . ,n−1</li>
                <li>p′′j+1(xj) = p′′j(xj) for each j = 1, . . . ,n−1</li>
                <li>p′′1(x0) = 0 and p′′n(xn) = 0</li>
            </ol>
        </div>
    </div>

    <form method="GET">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="xi ex: -1, 0, 3, 4" id="cubic_spline_a" name="xi">
            <input type="text" class="form-control" placeholder="fi ex: 15.5, 3, 8, 1" id="cubic_spline_b" name="fi">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if polynomial_result %}
    <div class="card mt-2">
        <div class="card-body">
            {% for i in polynomial_result %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if section_result %}
    <div class="card mt-2">
        <div class="card-body">
            {% for i in section_result %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock container %}