{% extends 'base.html' %}
{% block title %}Lagrange{% endblock title %}
{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Lagrange</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Lagrange Help</h6>
            <p class="ms-2">All values in xi and fi have to be different</p>
        </div>
    </div>

    <form method="GET">
        <div class="input-group">
            <span class="input-group-text" id="xi">xi:</span>
            <input type="text" class="form-control" placeholder="-1, 0, 3, 4" name="xi" />
            
            <span class="input-group-text" id="fi">fi:</span>
            <input type="text" class="form-control" placeholder="15.5, 3, 8, 1" name="fi" />
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if fi %}
    <ul>
        <li>fi: {{fi}}</li>
        <li>xi: {{xi}}</li>
        <li>Dividers: {{dividers}}</li>
        <li>Lagrange polynomial expresion: {{lagrangePolynomialExpresion}}</li>
        <li>Lagrange polynomial: {{lagrangePolynomial}}</li>
    </ul>
    {% endif %} 
    {% if pxi.any %}
    <div>
        <canvas id="lagrange"></canvas>
    </div>
    {% endif %}
</div>
{% endblock container %}

{% block chartJs %}
<script>
    const ctx = document.getElementById('lagrange');

    var xi = {{ xi }};
    var fi = {{ fi }};

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: xi,
            datasets: [{
                label: 'Polynomial',
                data: fi,
                borderWidth: 1,
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Lagrange Interpolation'
                },
            }
        }
    });
</script>
{% endblock chartJs %}