{% extends 'base.html' %}

{% block title %}Newton Interpolation{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Newton Interpolation</h4>
    </div>

    <form method="GET">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="xi" id="newton_interpolation_xi" name="fi">
            <input type="text" class="form-control" placeholder="fi" id="newton_interpolation_fi" name="xi">

            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary" type="submit">Consultar</button>
            </div>
        </div>
    </form>

    {% if result %}
    {{ result | safe }}
    {% endif %}

</div>
{% endblock container %}