{% extends 'base.html' %}

{% block title %}Newton Interpolation{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Newton Interpolation</h4>
    </div>

    <form method="GET">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="xi" id="newton_interpolation_xi" name="xi">
            <input type="text" class="form-control" placeholder="fi" id="newton_interpolation_fi" name="fi">

            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary" type="submit">Consultar</button>
            </div>
        </div>
    </form>

    {% if tablaDD %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{tablaDD}}</p>
        </div>
    </div>
    {% endif %} 

    {% if coeficientes %}
    <div class="card mt-2">
        <div class="card-body">
            {% for i in coeficientes %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %} 

    {% if polynomial_result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{polynomial_result}}</p>
        </div>
    </div>
    {% endif %} 
</div>
{% endblock container %}