{% extends 'base.html' %}

{% block title %}Quadratic Spline{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Quadratic Spline</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Quadratic Spline Help</h6>
            <p class="ms-2">All values in xn and fxn have to be different</p>
        </div>
    </div>

    <form method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="xn" id="quadratic_spline_xn" name="xn">
            <input type="text" class="form-control" placeholder="fxn" id="quadratic _spline_fxn" name="fxn">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{result}</p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock container %}