{% extends 'base.html' %}

{% block title %}Vandermonde{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Vandermonde</h4>
    </div>
    <div class="d-flex justify-content-center mb-3 mt-2">
        <div class="card mt-2 mb-2">
            <div class="row">
                <div class="col-6">
                    <h6 class="text-center">Help for this method:</h6>
                    <ol>
                        <li>All values in xi and fi have to be different</li>
                        <li>All values must be different</li>
                        <li>xi and fi must be equal size</li>
                    </ol>
                </div>
                <div class="col-6 row">
                    <h6>Valid inputs:</h6>
                    <div class="col-8">
                        <ol>
                            <li>Examples:</li>
                            <ul>
                                <li>-1, 0, 3, 4</li>
                                <li>15.5, 3, 8, 1</li>
                                <li>8, 0, -3, 8, 1</li>
                                <li>15.5, 3.4, 3, 4, 5</li>
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form method="GET">
        <div class="input-group">
            <span class="input-group-text" id="xi">xi:</span>
            <input type="text" id="xi_input" class="form-control" required="required" placeholder="-1, 0, 3, 4" name="xi" />

            <span class="input-group-text" id="fi">fi:</span>
            <input type="text" id="fi_input" class="form-control" required="required" placeholder="15.5, 3, 8, 1" name="fi" />
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
        {{ result | safe }}
    {% endif %}

    {% if result_table %}
        {{ result_table | safe }}
    {% endif %}

    {% if result_polynomial %}
        <p>{{ result_polynomial | safe }}</p>
    {% endif %}

    {% if result_coefficients %}
      <p>{{ result_coefficients | safe }}</p>
    {% endif %}

    
    <div>
        <canvas id="vandermonde"></canvas>
    </div>


</div>
{% endblock container %}

{% block chartJs %}
<script>
    const qs = window.location.search;
    const up = new URLSearchParams(qs);

    const ctx = document.getElementById('vandermonde');
    var xi_str = document.getElementById("xi_input").value = up.get('xi')
    var fi_str = document.getElementById('fi_input').value = up.get('fi')

    var xi = JSON.parse("[" + xi_str + "]")
    var fi = JSON.parse("[" + fi_str + "]")

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: xi,
            datasets: [{
                label: 'Polynomial',
                data: fi,
                borderWidth: 1,
                fill: false,
                cubicInterpolationMode: 'monotone',
                tension: 0.4
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Vandermonde Interpolation'
                },
            }
        }
    });
</script>
{% endblock chartJs %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("xi_input").value = urlParams.get('xi')
    document.getElementById("fi_input").value = urlParams.get('fi')
</script>
{% endblock js %}