{% url 'home:index' as home_index %}
{% url 'functions:incremental-search' as functions_incrementalsearch %}
{% url 'functions:false-rule' as false_rule %}
{% url 'functions:newton' as newton %}
{% url 'functions:fixed-point' as fixed_point %}
{% url 'functions:secant' as secant %}
{% url 'functions:multipleroots' as multipleroots %}

{% url 'interpolations:cubic-spline' as cubic_spline %}
{% url 'interpolations:lagrange' as lagrange %}
{% url 'interpolations:lineal-spline' as lineal_spline %}
{% url 'interpolations:newton-interpolation' as newton_interpolation %}
{% url 'interpolations:quadratic-spline' as quadratic_spline %}
{% url 'interpolations:vandermonde' as vandermonde %}


{% url 'matrixs:cholesky' as cholesky %}
{% url 'matrixs:crout' as crout %}
{% url 'matrixs:doolittle' as doolittle %}
{% url 'matrixs:gauss-seidel' as gauss_seidel %}
{% url 'matrixs:gaussian-elimination-with-partial-pivoting' as gaussian_elimination_with_partial_pivoting %}
{% url 'matrixs:gaussian-elimination-with-total-pivoting' as gaussian_elimination_with_total_pivoting %}
{% url 'matrixs:gaussian-simple-elimination' as gaussian_simple_elimination %}
{% url 'matrixs:jacobi' as jacobi %}
{% url 'matrixs:lu-with-partial-pivoting' as lu_with_partial_pivoting %}
{% url 'matrixs:lu-with-gaussian-simple-elimination' as lu_with_gaussian_simple_elimination %}
{% url 'matrixs:sor' as sor %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">

                    <a class="nav-link {% if request.path == home_index %}active{% endif %}" href="{{home_index}}"
                        aria-current="page">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle
                    {% if request.path == functions_incrementalsearch %}active
                    {% elif request.path == false_rule %}active
                    {% elif request.path == newton %}active
                    {% elif request.path == fixed_point %}active
                    {% elif request.path == secant %}active
                    {% elif request.path == multipleroots %}active
                    {% endif %}" id="functionDropdownID" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Functions</a>
                    <div class="dropdown-menu" aria-labelledby="functionDropdownID">

                        <a class="dropdown-item {% if request.path == functions_incrementalsearch %}active{% endif %}"
                            href="{{functions_incrementalsearch}}">Incremental Search</a>

                        <a class="dropdown-item {% if request.path == false_rule %}active{% endif %}"
                            href="{{false_rule}}">False rule</a>

                        <a class="dropdown-item {% if request.path == newton %}active{% endif %}"
                            href="{{newton}}">Newton</a>

                        <a class="dropdown-item {% if request.path == fixed_point %}active{% endif %}"
                            href="{{fixed_point}}">Fixed Point</a>

                        <a class="dropdown-item {% if request.path == secant %}active{% endif %}"
                            href="{{secant}}">Secant</a>

                        <a class="dropdown-item {% if request.path == multipleroots %}active{% endif %}"
                            href="{{multipleroots}}">Multiple Roots</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle 
                    {% if request.path == cholesky %}active
                    {% elif request.path == crout %}active
                    {% elif request.path == doolittle %}active
                    {% elif request.path == gauss_seidel %}active
                    {% elif request.path == gaussian_elimination_with_partial_pivoting %}active
                    {% elif request.path == gaussian_elimination_with_total_pivoting %}active
                    {% elif request.path == gaussian_simple_elimination %}active
                    {% elif request.path == jacobi %}active
                    {% elif request.path == lu_with_partial_pivoting %}active
                    {% elif request.path == lu_with_gaussian_simple_elimination %}active
                    {% elif request.path == sor %}active
                    {% endif %}" id="matrixDropdownID" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Matrix</a>
                    <div class="dropdown-menu" aria-labelledby="matrixDropdownID">

                        <a class="dropdown-item {% if request.path == cholesky %}active{% endif %}"
                            href="{{cholesky}}">Cholesky</a>

                        <a class="dropdown-item {% if request.path == crout %}active{% endif %}"
                            href="{{crout}}">Crout</a>

                        <a class="dropdown-item {% if request.path == doolittle %}active{% endif %}"
                            href="{{doolittle}}">Doolittle</a>

                        <a class="dropdown-item {% if request.path == gauss_seidel %}active{% endif %}"
                            href="{{gauss_seidel}}">Gauss seidel</a>

                        <a class="dropdown-item {% if request.path == gaussian_elimination_with_partial_pivoting %}active{% endif %}"
                            href="{{gaussian_elimination_with_partial_pivoting}}">Gaussian elimination with partial
                            pivoting</a>

                        <a class="dropdown-item {% if request.path == gaussian_elimination_with_total_pivoting %}active{% endif %}"
                            href="{{gaussian_elimination_with_total_pivoting}}">Gaussian elimination with total pivoting</a>

                        <a class="dropdown-item {% if request.path == gaussian_simple_elimination %}active{% endif %}"
                            href="{{gaussian_simple_elimination}}">Gaussian simple elimination</a>

                        <a class="dropdown-item {% if request.path == jacobi %}active{% endif %}"
                            href="{{jacobi}}">Jacobi</a>

                        <a class="dropdown-item {% if request.path == lu_with_partial_pivoting %}active{% endif %}"
                            href="{{lu_with_partial_pivoting}}">LU with partial pivoting</a>

                        <a class="dropdown-item {% if request.path == lu_with_gaussian_simple_elimination %}active{% endif %}"
                            href="{{lu_with_gaussian_simple_elimination}}">LU with gaussian simple elimination</a>

                        <a class="dropdown-item {% if request.path == sor %}active{% endif %}" href="{{sor}}">SOR</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle 
                    {% if request.path == cubic_spline %}active
                    {% elif request.path == lagrange %}active
                    {% elif request.path == lineal_spline %}active
                    {% elif request.path == newton_interpolation %}active
                    {% elif request.path == quadratic_spline %}active
                    {% elif request.path == vandermonde %}active
                    {% endif %}" id="interpolationsDropdownID" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Interpolations</a>
                    <div class="dropdown-menu" aria-labelledby="interpolationsDropdownID">

                        <a class="dropdown-item {% if request.path == cubic_spline %}active{% endif %}"
                            href="{{cubic_spline}}">Cubic Spline</a>

                        <a class="dropdown-item {% if request.path == lagrange %}active{% endif %}"
                            href="{{lagrange}}">Lagrange</a>

                        <a class="dropdown-item {% if request.path == lineal_spline %}active{% endif %}"
                            href="{{lineal_spline}}">Lineal Spline</a>

                        <a class="dropdown-item {% if request.path == newton_interpolation %}active{% endif %}"
                            href="{{newton_interpolation}}">Newton Interpolation</a>

                        <a class="dropdown-item {% if request.path == quadratic_spline %}active{% endif %}"
                            href="{{quadratic_spline}}">Quadratic Spline</a>

                        <a class="dropdown-item {% if request.path == vandermonde %}active{% endif %}"
                            href="{{vandermonde}}">Vandermonde</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>