{% extends 'base.html' %}

{% block title %}Doolittle{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Doolittle</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Doolittle help</h6>
            <p class="ms-2">The determinant and the diagonal of the matrix A =! 0</p>
            <p class="text-center">The Matrix A must be square</p>
            <p class="text-center">b must be the same numbers of rows as A</p>
        </div>
    </div>

    <form method="GET">
        <div class="input-group">
            <span class="input-group-text" id="spanfunction">Matrix A:</span>
            <input type="text" class="form-control" placeholder="[2,-1,0,3],[1,0.5,3,8],[0,13,-2,11],[14,5,-2,3]" id="GaussianEliminationWithPartialPivoting_A" name="a">
            <span class="input-group-text" id="spanfunction">Matrix b:</span>
            <input type="text" class="form-control" placeholder="1,1,1,1" id="GaussianEliminationWithPartialPivoting_b" name="b">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>


    {% if result %}
        {{ result | safe}}
    {% endif %}

</div>
{% endblock container %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("doolittle_A").value = urlParams.get('a')
</script>
{% endblock js %}