{% extends 'base.html' %}

{% block title %}Gaussian Elimination With Total Pivoting{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Gaussian Elimination With Total Pivoting</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mt-2 mb-2">
            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>The determinant and the diagonal of the matrix A =! 0</li>
                <li>The Matrix A must be square</li>
                <li>b must be the same numbers of rows as A</li>
            </ol>
        </div>
    </div>

    <form method="GET">
        <div class="input-group">
            <span class="input-group-text" id="spanfunction">Matrix A:</span>
            <input type="text" class="form-control" placeholder="[2,-1,0,3],[1,0.5,3,8],[0,13,-2,11],[14,5,-2,3]" id="GaussianEliminationWithPartialPivoting_A" name="a">
            <span class="input-group-text" id="spanfunction">Matrix b:</span>
            <input type="text" class="form-control" placeholder="1,1,1,1" id="GaussianEliminationWithPartialPivoting_b" name="b">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>


    {% if result %}
        {{ result | safe}}
    {% endif %}

</div>
{% endblock container %}