{% extends 'base.html' %}

{% block title %}Jacobi{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Jacobi</h4>
    </div>

    
    <div class="d-flex justify-content-center">
        <div class="card mt-2">

                <h6 class="text-center">Help for this method:</h6>
                <ol>
                    <li>if A is diagonally dominant, the method will converge to the unique solution of the system.</li>
                    <li>A must be symmetric and positively defined</li>
                    <li>A must be invertible</li>
                    <li>The converge is determined by p(T). It must be less than one.
                    </li>
                </ol>
        </div>
    </div>

    <form method="GET" >

        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunction">Matrix A:</span>
            <input type="text" class="form-control" placeholder="[4, -1, 0, 3],[1, 15.5, 3, 8],[0, -1.3, -4, 1.1],[14, 5, -2, 30]" id="Gauss_Seidel_A" name="A">
        </div>

        <div class="input-group">
            <span class="input-group-text" id="spanfunction">Matrix b:</span>
            <input type="text" class="form-control" placeholder="1,1,1,1" id="Gauss_Seidel_B" name="B">
            <span class="input-group-text" id="spanfunction">Matrix x0:</span>
            <input type="text" class="form-control" placeholder="0,0,0,0" id="Gauss_Seidel_x0" name="x0">
            <span class="input-group-text" id="spanfunction">Itermax:</span>
            <input type="text" class="form-control" placeholder="100" id="Gauss_Seidel_itermax" name="itermax">
            <span class="input-group-text" id="spanfunction">Tolerance:</span>
            <input type="text" class="form-control" placeholder="0.0000007" id="Gauss_Seidel_tolerance" name="tolerance">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>

    {% if result %}
        {{ result | safe}}
    {% endif %}

</div>
{% endblock container %}