{% extends 'base.html' %}

{% block title %}LU with Gaussian Simple Elimination{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>LU with Gaussian Simple Elimination</h4>
    </div>

    <form method="GET" id="function_incrementalsearch_form">
        {% csrf_token %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="A" id="LUwithGaussianSimpleElimination_A" name="A">
            <input type="text" class="form-control" placeholder="B" id="LUwithGaussianSimpleElimination_B" name="B">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>


    {% if result %}
    <div class="card mt-2">
        <div class="card-body">
            <p>{{ result }}</p>
        </div>
    </div>
    {% endif %}

</div>
{% endblock container %}