{% extends 'base.html' %}

{% block title %}Sor{% endblock title %}

{% block bodyCSS %}
<style>
    .full-vh {
        min-height: 100vh;
    }
</style>
{% endblock bodyCSS %}

{% block container %}
<div class="container full-vh">
    <div class="d-flex justify-content-center">
        <h4>Sor</h4>
    </div>


    <div class="d-flex justify-content-center">
        <div class="card mt-2">

            <h6 class="text-center">Help for this method:</h6>
            <ol>
                <li>if A is diagonally dominant, the method will converge to the unique solution of the system.
                <li>What is relaxation? Relaxation refers to a slight modification to Gauss- Seidel method with the
                    intention of improving the convergence.</li>
                <li>if w = 1, is pure Gauss-Seidel</li>
                <li>if 0 &#60; w &#60; 1 is a under-relaxation method</li>
                <li>if 1 &#60; w &#60; 2 is a over-relaxation</li>
                <li>A must be symmetric and positively defined</li>
                <li>A must be invertible</li>
                <li>The converge is determined by p(T). It must be less than one.
                </li>
            </ol>
        </div>
    </div>

    <form method="GET">
        <div class="input-group mb-3">
            <span class="input-group-text" id="spanfunction">Matrix A:</span>
            <input type="text" class="form-control" placeholder="[4,-1,0,3],[1,15.5,3,8],[0,-1.3,-4,1.1],[14,5,-2,30]" id="A" name="A">
        </div>

        <div class="input-group">
            <div class="input-group mb-3">
                <span class="input-group-text" id="spanfunction">Matrix b:</span>
                <input type="text" class="form-control" placeholder="1,1,1,1" id="B" name="B">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="spanfunction">Matrix x0:</span>
                <input type="text" class="form-control" placeholder="0,0,0,0" id="x0" name="x0">
            </div>
            <span class="input-group-text" id="spanfunction">Tolerance:</span>
            <input type="text" class="form-control" placeholder="0.0000007" id="tol" name="tolerance">
            <span class="input-group-text" id="spanfunction">w:</span>
            <input type="text" class="form-control" placeholder="1.5" id="w" name="w">
            <span class="input-group-text" id="spanfunction">Itermax:</span>
            <input type="text" class="form-control" placeholder="100" id="iter" name="itermax">
        </div>

        <div class="d-grid gap-2 mt-3">
            <button class="btn btn-primary" type="submit">Consultar</button>
        </div>
    </form>


    {% if result %}
        {{ result | safe }}
    {% endif %}

</div>
{% endblock container %}

{% block js %}
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    document.getElementById("A").value = urlParams.get('A')
    document.getElementById("B").value = urlParams.get('B')
    document.getElementById("x0").value = urlParams.get('x0')
    document.getElementById("tol").value = urlParams.get('tolerance')
    document.getElementById("w").value = urlParams.get('w')
    document.getElementById("iter").value = urlParams.get('itermax')
</script>
{% endblock js %}